<div class="mt-5">
{{#each ideas}}
<div class="container">
  <div class="row mb-5 post-body">
    <div class="image-container">
          <div class="post-image">
            <a href="ideas/show/{{id}}">
              <img src="{{img}}" alt="Image Description" class="img-fuid w-100 rounded">
            </a>
          </div>
      </div>
      <div class="col-md-6 mt-4">
          <div class="post-text">
            <a href="ideas/show/{{id}}">
            <h3 class="h3 fr-view">{{title}}</h3>
            <p class="p">{{stripTags (truncate details 1000)}}</p>
            </a>
          </div>
    </div>
  </div>
</div>

{{else}}
<p>No vido ideas listed</p>
{{/each}}
</div>







{{!-- <div class="row">
  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
    <article>
      
        <img src="{{img}}" alt="" class="responsive-img">
        <h4>{{title}}</h4>
        <p>{{stripTags (truncate details 150)}}</p>
      </a>
    </article>
  </div>
  </div> --}}

<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
  <div class="container u-space-2-top">
    <div class="row justify-content-lg-between mb-7">
      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Меню</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="#">Головна</a></li>
          <li><a class="u-list__link" href="#">Про кафедру</a></li>
          <li><a class="u-list__link" href="#">Викладацький склад</a></li>
          <li><a class="u-list__link" href="#">Розклад консультацій</a></li>
          <li><a class="u-list__link" href="#">Наставники академічних груп</a></li>
          <li><a class="u-list__link" href="#">Навчально-методичні матеріали</a></li>
          <li><a class="u-list__link" href="#">Події</a></li>
          <li><a class="u-list__link" href="#">Контаки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Посилання</strong>
        </h3>
        <!-- End Title -->

        <!-- List -->
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link" href="#">Сайт КНТЕУ</a></li>
          <li><a class="u-list__link" href="#">Сайт Факультету</a></li>
          <li><a class="u-list__link" href="#">Мінітерсто освіти і науки</a></li>
        </ul>
        <!-- End List -->
      </div>

      <div class="col-6 col-md-4 col-lg-2 mb-7 mb-lg-0">
        <!-- Title -->
        <h3 class="h6 u-text-light">
          <strong>Контаки</strong>
        </h3>
        <!-- End Title -->

        <!-- Address -->
        <address class="u-list">
          <a class="u-list__link" href="#">531-49-56</a>
          <a class="u-list__link" href="mailto:progen@ukr.net"> progen@ukr.net</a>
          <a class="u-list__link" href="#">Україна, 02156, м. Київ, вул. Кіото, 19, Корпус Б</a>
        </address>
        <!-- End Address -->
      </div>

      <div class="col-sm-6 col-md-5 col-lg-3 col-lg-3">
        <div class="mb-4">
        <!-- Title -->
        <h3 class="h6 u-text-light mb-3">
          <strong>Соціальні спільноти</strong>
        </h3>
        <!-- End Title -->

        <!-- Social Networks -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-facebook-f u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-google u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-twitter u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-icon u-icon--sm u-icon-secondary--air" href="#">
              <span class="fab fa-github u-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->
      </div>
    </div>
  </div>
  <div class="row justify-content-between align-items-center u-space-1 pb-3">
      <div class="col-5">
        <!-- Logo -->
        <a class="d-inline-block mb-lg-auto " href="#" aria-label="Front">
          <img src="img/logo1.png" alt="Logo" style="width: 100px;">
        </a>
        <!-- End Logo -->
      </div>

      <div class="col-6 text-right">
        <p class="small mb-0">© oRlex. 2018</p>
      </div>
    </div>
</footer>
<!-- ========== END FOOTER ========== -->