<div class="container mt-5">
  <table class="table">
    <thead class="thead-dark">
      <tr>
      <th scope="col">#</th>
      <th scope="col">Дата</th>
      <th scope="col">Заголовок</th>
      <th scope="col">Картинка</th>
      <th scope="col">Редагування</th>
    </tr>
    </thead>
    <tbody>
{{#each ideas}}
    <tr>
      <th scope="row">1</th>
      <td>{{formatDate idea.date 'Do MMMM YYYY року'}}</td>
      <td>{{title}}</td>
      <td><img src="{{img}}" alt="" class="img-fluid" width="50px" height="50px"></td>      
      <td><a class="btn btn-warning mb-2" href="/ideas/edit/{{id}}">Edit</a>
    <form action="/ideas/{{id}}?_method=DELETE" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="btn btn-danger btn-block" value="Delete">
    </form></td>
    </tr>
{{else}}
<p>Немає новин</p>
{{/each}}
  </tbody>
</table>

